{% extends "base.html" %}

{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'accueil.css' %}" />
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="display 4">Médiathèque « Notre livre, notre média »</h1>
    <h2 class="lead">Système de gestion des médias</h2>
    <ul>
        <li><a href="{% url 'liste_membres' %}" class="btn btn-primary">Liste des Membres</a></li>
        <li><a href="{% url 'liste_medias' %}" class="btn btn-primary">Liste des Médias</a></li>
        <li><a href="{% url 'liste_emprunt' %}" class="btn btn-primary">Liste des Emprunts</a></li>
        <li><a href="{% url 'create_membre' %}" class="btn btn-primary">Créer un membre</a></li>
        <li><a href="{% url 'create_media' %}" class="btn btn-primary">Ajouter un média</a></li>
    </ul>
</div>
{% endblock %}
