{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Liste des Membres</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Bloqué</th>
            </tr>
        </thead>
        <tbody>
            {% for membre in membres %}
            <tr>
                <td>{{ membre.nom }}</td>
                <td>{{ membre.prenom }}</td>
                <td>{{ membre.phone }}</td>
                <td>{{ membre.email }}</td>
                <td>{{ membre.bloque|yesno:"Oui,Non" }}</td>
                <td><a href="{% url 'modifier_membre' membre.pk %}">Modifier</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
